body {
    margin: 0;
    padding: 0;
    background-color: #c0c3a8;
}

table {
    width: 90%;
    margin: 50px ;
    padding: 10;
   
   
}

td {
    padding: 8px 5px;
    margin:50 px;
    background-color: hsl(0, 12%, 64%)
    
}
td div {
    height: 50px; 
    overflow-y: scroll; 
    border: 1px solid #0c0707;
    padding: 10px;
   background-color: #c0c3a8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}